@using PW3.TPFinal.Repositorio.Data
@model List<Reserva>

@{
    Layout = "Comensal/_Comensal";
    ViewData["Title"] = "Reservas";
}
<section class="seccion-pagina bg-smoke py-10">
    <div class="container">

        <h1 class="text-uppercase font-weight-bold">RESERVAS</h1>

        <partial name="/Views/Shared/_Message_Bar.cshtml" />

        @if (Model.Count == 0)
        {
            <div class="alert alert-danger d-flex align-items-center fade show mb-0" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="danger:">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
                </svg>
                <div>
                    Lo siento! No encontramos ninguna reserva que hayas hecho ultimamente!.
                </div>
            </div>
        }

        <div class="row">
            @foreach (Reserva r in Model)
            {
                {
                    string str = "Pendiente";
                    string color = "bg-black";
                    if (@r.IdEventoNavigation.Estado == 1)
                    {
                        str = "Realizado";
                        color = "bg-black";
                    }
                    else if (@r.IdEventoNavigation.Estado == 2)
                    {
                        str = "Cancelado";
                        color = "bg-gray-color";
                    }

                    <div class="col-lg-4 mb-2">
                        <div class="card">
                            <div class="card-header @color text-white h-50">
                                Nombre Evento: @r.IdEventoNavigation.Nombre
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <span>
                                        Estado: @str
                                    </span>
                                </p>
                                <p class="card-text"><span>Hora: @r.IdEventoNavigation.Fecha</span> </p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
@section PageScripts {
    <script type="text/javascript" src="@Url.Content("~/js/paginas/misReservas.js")"></script>
}